#main-form {
  padding: 2rem;
  font-weight: bold;
}

.form-label {
  font-size: 1.2rem;
  padding: 0.75rem;
}

.form-text-input {
  width: 80%;
  height: 1rem;
  padding: 0.55rem;
  border: 2px solid black;
  transform: skewX(-15deg);
}

#div-or {
  width: 40%;
  height: 0.85rem;
  border-bottom: 3px solid #e2012d;
  text-align: center;
  margin: 1.25rem 1.25rem 2rem 1.25rem;
}

#text-or {
  font-size: 1.25rem;
  background-color: white;
  padding: calc(1.25rem / 8);
  margin: 0.5rem;
}

#form-checkbox {
  margin: 2rem;
  margin-top: 0;
}

#form-checkbox label {
  padding-left: 0px;
  font-size: 1.05rem;
}

#form-checkbox input {
  height: 50px;
  background-color: #e2012d;
}

#submit-btn {
  background-color: #e2012d;
  height: 2rem;
  width: 8rem;
  font-size: 1.1rem;
  transform: skewX(-15deg);
  color: white;
  border: none;
}
